# Environment files
.env
*.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases & local uploads
*.db
*.sqlite3
uploads/

# Node & Frontend
node_modules/
dist/
.vite/

# OS files
.DS_Store
Thumbs.db
